extends layout

block content
  style.
    .uppercase {
      font-size: 3rem;
    }
  .jumbotron.jumbotron-fluid.jumbotron-blue
    .container.text-center
      img(src='img/404.png', height='80px', alt='number 404 meaning page not found')
      br
      br
      p.lead
        | Page not found. Are you sure you clicked the right link?