extends layout

block content
  style.
    .uppercase {
      font-size: 3rem;
    }
    .container-text {
      text-align: left;
    }
  .jumbotron.jumbotron-fluid.bg-white.vertical-center
    .container.text-center
      h1.display-4.uppercase About Us
      br
      p.container-text
        | Keystone was started by Lynbrook juniors Renee Mok and Iris Leung on March 28, 2020 
        | in response to the novel coronavirus (COVID-19) pandemic. 
        | Within a few days, we had established our core team, launched our website, amassed 
        | around 50 mentors, and began mentee sign-ups. 
      br
      p.container-text
        | Our initial vision was to bridge the gap between Lynbrook and Miller students by 
        | providing support through peer mentorship. A Keystone is the central stone at 
        | the summit of a bridge/arch that is placed at the very end to lock all units together. 
        | We chose this name to emphasize how we link Miller and Lynbrook students together 
        | while also offering tips and advice (ex. what clubs there are on campus, what students 
        | should pay attention to with specific teachers, what sports are offered/what practices 
        | look like, etc.) that other more traditional tutoring services are unable to offer. 
        | However, since then we have extended our reach past these two schools to ensure that 
        | we can offer our services to as many students as possible.
      br
      p.container-text
        | Aside from the cofounders, Keystone’s core team is also made up of Zoe Parkhomovsky, 
        | our Director of Expansion (responsible for communicating with outside organizations 
        | and establishing new branches/programs), Rachana Aluri, our Director of Communications 
        | (responsible for holding mentors accountable and enforcing code of conduct), Marissa Dai, 
        | our Director of Public Relations (responsible for maintaining socials), Austin Tong, 
        | our Director of Media Production (responsible for creating material that will be used 
        | for marketing), and Ian Chen, our Director of Finance (responsible for overlooking and 
        | managing financial activities).