extends layout

block content
  style.
    .uppercase {
      font-size: 3rem;
    }
    .left-align {
      text-align: left;
    }
    .faq-question {
      text-transform: uppercase;
      font-size: 1.3rem;
    }
  .jumbotron.jumbotron-fluid.jumbotron-gray
    .container.text-center
      h1.display-4.uppercase Parent & Student FAQ
      br
      p React out to us if you have additional questions or concerns!
      br
      h5.faq-question.left-align.container-text How are we different from other tutoring services?
      br
      p.left-align.container-text
        | Since we are composed of students, we differentiate ourselves with our specific 
        | knowledge of each school's culture. Unlike other tutoring services, we can offer 
        | mentees with tips and advice on what classes they should take, what specific teachers 
        | are like, how club activities are like, etc.
      br
      br
      h5.faq-question.left-align.container-text How will we ensure that our mentors will provide mentees with satisfactory mentorship?
      br
      p.left-align.container-text
        | All online meetings will be recorded and saved to ensure the safety of both the mentor 
        | and the mentee. All mentors will also undergo an application process to ensure that 
        | they are a good fit for their mentee and have the knowledge/skills to help them with 
        | their chosen subjects. Mentors and mentees will be allowed to rate their experience 
        | with each other at the end of each session, and rematches can be made at any time under 
        | request. Feedback forms are also available for parents and students to communicate any 
        | thoughts and concerns.
      br
      br
      h5.faq-question.left-align.container-text How are the mentors?
      br
      p.left-align.container-text
        | All Keystone mentors are qualified high school students with varying backgrounds. 
        | Each mentor has their own specific set of strengths and we do our best to match the 
        | mentees to the best mentors based on their academic preferences.
      br
      br
      h5.faq-question.left-align.container-text How will the students meet with their mentors? Can the student meet with thier mentor in person?
      br
      p.left-align.container-text
        | Mentees will be using Zoom to communicate with their mentors. Unfortunately, we 
        | cannot guarantee the safety of our mentees or our mentors through an in person 
        | meetup and so these will not be allowed.
      br
      br
      h5.faq-question.left-align.container-text Can parents join in on the mentoring sessions?
      br
      p.left-align.container-text
        | Yes! Parents are more than welcome to join in off screen on weekly sessions as long 
        | both parties are comfortable.
      br
      br
  .jumbotron.jumbotron-fluid.jumbotron-blue
    .container.text-center
      h1.display-4.uppercase Mentor FAQ
      br
      h5.faq-question.left-align.container-text What is the expected time commitment?
      br
      p.left-align.container-text
        | We are expecting each mentor to spend 1-2 hours a week with their mentees. 
        | This, of course, will change depending on the number of subjects/what the mentee 
        | needs help with and can be adjusted to fit the needs of the involved parties.
      br
      br
      h5.faq-question.left-align.container-text Do I get official volunteer hours?
      br
      p.left-align.container-text
        | Yes! Since we are a 501(c)(3) nonprofit and a PVSA certifying organization, 
        | all mentors are able to earn volunteer hours that are applicable towards earning 
        | a PVSA award.
      br
      br
      h5.faq-question.left-align.container-text How long will this program last? Can I choose to opt out at a later date?
      br
      p.left-align.container-text
        | This will depend on the number of mentees and the number of mentors involved 
        | in this program. For now, we predict that this will last past the pandemic and 
        | will hopefully continue far into the future. This is not a binding commitment 
        | and all mentors can discontinue at any time (as long as this has been 
        | communicated between other members of Keystone as well as with the respective mentee).
      br
      br