extends layout

block content
  style.
    .uppercase {
      font-size: 3rem;
    }
  .jumbotron.jumbotron-fluid.bg-white
    .container.text-center
      h1.display-4.uppercase Find a Mentor
      .d-flex.flex-wrap.justify-content-center
        a.d-flex.pl-2.pr-2.m-2.btn.cupertino.rounded-pill(href='') Cupertino
        a.d-flex.pl-2.pr-2.m-2.btn.btn-outline-dark.rounded-pill(href='') Evergreen Valley
        a.d-flex.pl-2.pr-2.m-2.btn.btn-outline-dark.rounded-pill(href='') Leigh
        a.d-flex.pl-2.pr-2.m-2.btn.lynbrook.rounded-pill(href='') Lynbrook
        a.d-flex.pl-2.pr-2.m-2.btn.montavista.rounded-pill(href='') Monta Vista
        a.d-flex.pl-2.pr-2.m-2.btn.btn-outline-dark.rounded-pill(href='') Valley Christian