doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title= title
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/3573f6a0f9.js', crossorigin='anonymous')
  link(rel='stylesheet', href='https://s.pageclip.co/v1/pageclip.css', media='screen')
  link(rel='stylesheet', href='stylesheets/style.css')
body
  nav.navbar.navbar-expand-lg.navbar-light.bg-white.justify-content-between
    a.navbar-brand(href='/')
      img(src='https://static.wixstatic.com/media/4e2504_f3d775bce49e4816b5f5a896c20979a7~mv2.png', height='50', alt='keystone logo')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/')
            | Home
        li.nav-item
          a.nav-link(href='/rise') Rise
        li.nav-item
          a.nav-link(href='/meet-the-team') Meet the Team
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='/mentors', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Mentors
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='our-badges') Our Badges
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | More
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/blog') Blog
            a.dropdown-item(href='/about-us') About Us
            a.dropdown-item(href='/faqs') FAQs
            a.dropdown-item(href='/policies') Policies
            a.dropdown-item(href='/special-thanks') Special Thanks
        li.nav-item#socialiconheader
          a.nav-link(href='mailto:keystonementorship@gmail.com')
            i.fas.fa-envelope
        li.nav-item#socialiconheader
          a.nav-link(href='https://linkedin.com')
            i.fab.fa-linkedin-in
        li.nav-item#socialiconheader
          a.nav-link(href='https://instagram.com/')
            i.fab.fa-instagram   
        li.nav-item#socialiconheader
          a.nav-link(href='https://facebook.com/')
            i.fab.fa-facebook-f
        li.nav-item#socialiconheader
          a.nav-link(href='/login') Login
  block content
  footer.text-center
    h4 Keystone
    h6 keystonementorship@gmail.com
    .socialicons
      a#socialicon(href='')
        i.fab.fa-linkedin-in(style='display: inline-block;')
      a#socialicon(href='')
        i.fab.fa-instagram(style='display: inline-block;')
      a#socialicon(href='')
        i.fab.fa-facebook-f(style='display: inline-block;')
    p Copyright ©2020 By Keystone Mentorship. All Rights Reserved.
  script(src='https://s.pageclip.co/v1/pageclip.js', charset='utf-8')
