extends layout

block content
  .jumbotron.jumbotron-fluid.jumbotron-orange.vertical-center
    .container.text-center
      img.img-fluid(src='https://static.wixstatic.com/media/4e2504_9d807c28d519499ba8d52aeb17451764~mv2.png/v1/fill/w_219,h_266,al_c,q_85,usm_0.66_1.00_0.01/Keyston_Rise_FinalFiles-06.webp')
      br
      br
      p.container-text.lead
        | Keystone Rise, set to launch for the 2020-2021 school year will serve and cater 
        | to underprivileged students in the United States that don't necessarily have access 
        | to the same educational resources that we might find in more affluent areas, 
        | such as our own.
      br
      a.btn.btn-outline-dark.rounded-pill(href='https://docs.google.com/forms/d/e/1FAIpQLSeIx85nRF0Iy_l1M1PXjdFHda_9d5FtcT7LakopwlkuacrTmw/viewform?usp=sf_link') Apply Now



