extends layout

block content
  style.
    .uppercase {
      font-size: 3rem;
    }

    .container-text {
      text-align: left;
      margin: 0 4rem 0 4rem;
    }

    .bigicons a {
      font-size: 25px;
      padding: 8px;
    }
  .jumbotron.jumbotron-fluid.bg-white
    .container.text-center
      h1.display-4.uppercase Special Thanks
      br
      p.container-text
        | We pride ourselves in being a student run nonprofit and would like to give a 
        | special shout out to those who have made monumental changes along the way. 
        | We would like to give a special thanks to the following individuals:
      br
      p.container Anna Shaposhnik, class of 2020, for designing our logo and LinkedIn cover graphic.
      .bigicons
        a(href='')
          i.fab.fa-instagram
        a(href='')
          i.fas.fa-globe